* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: verdana, sans-serif;
}

body {
  background: #4e537a;
  height: 100vh;
  display: flex;
  color: #555;
}
.form-container {
  background: #fff;
  padding: 1.25rem 2rem;
  min-width: 470px;
  margin: auto;
  border-radius: 0.6rem;
}

h2 {
  text-align: center;
  padding: 0.75rem;
}

label,
input,
textarea {
  display: block;
  margin: 0.8rem 0;
  outline: none;
}
input[type='text'],
input[type='email'],
textarea {
  border: 1px solid #ddd;
  padding: 0.6rem;
  border-radius: 0.6rem;
  width: 100%;
}
input[type='submit'] {
  margin: 1.5rem auto;
  font-size: 1.1rem;
  background-color: crimson;
  color: #fff;
  padding: 0.4rem 1rem;
  border: 2px solid transparent;
  border-radius: 0.6rem;
}

input[type='submit']:hover {
  color: crimson;
  background-color: #fff;
  border: 2px solid crimson;
  border-radius: 0.6rem;
  cursor: pointer;
}

textarea {
  resize: none;
}

.error {
  color: crimson;
}

.success {
  color: #189718;
  text-align: center;
  font-weight: bold;
}
